:root{
    --primary-color: rgba(33, 223, 230, 0.95);
    --overlay-color: linear-gradient(244deg, #e70af2,#009bff,#4abde3);
    --addl-color: rgba(74, 189, 227);
    --font-family: Verdana, Geneva, sans-serif
}

body {
    background-color: var(--primary-color);
    font-family: var(--font-style);
    color: black;
}

table {
    margin: 2rem auto;
    border-collapse: collapse;
    background-color: var(--overlay-color);
}

th,
td {
    padding: 0.5rem 1rem;
    text-align: center;
    border: 1px solid black;
    font-weight: 500;
    letter-spacing: 0.15rem;
}

th {
    background-color: var(--overlay-color);
    color: black;
}
caption{
    letter-spacing: 0.4rem;
    margin-bottom: 1.8em;
    font-size: 1.6em;
}
